@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    border-radius: 10px;
    border: 1px solid rgb(255, 255, 255, 0.4);
    margin:100px auto;
    background-color: rgb(255, 255, 255, 0.15);
    width: 500px;
    height: 300px;
    backdrop-filter: blur(10px);
}

#principal{
    margin:  auto;
    width: 500px;
    height: 280px
    ;
}

div img{
    left: 180px;
    bottom: 80px;
    position: relative;
}


#info input{
    background-color: rgba(255, 255, 255, 0.918);
    width: 400px;
    height: 40px;
    margin: auto;
    margin-top: 8px;
    display: block;
    font-size: 20px;
    padding-left: 27px;
    border: none;
    border-radius: 4px;
}

input[type="email"]{
    background-image: url(img/icone-usuario.png);
    background-position: 4px;
    background-repeat: no-repeat;
}
input[type="password"]{
    background-image: url(img/icone-cadeado.png);
    background-repeat: no-repeat;
    background-position: 4px;
}

button{
    font-weight: 600;
    font-size: 22px;
    border: none;
    border-radius: 6px;
    height: 40px;
    margin:10px 10px 10px 50px;
    width: 400px;
    background-color: #2e0d53db;
    color: white;
}